*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 38px;
    text-align: center;
    background-color: rgb(24, 24, 32);
    color: #ffff;
}
section{
    min-height: 800px;
    background: url('fon.jpg') center/cover no-repeat;
}
.myProjects{
    margin-top: 30px;
}
.myProjects a{
    color: rgb(255, 255, 255);
}